.rotate{
    --rotation: 270deg;
}


body{
    rotate: var(--rotation);
}

.button-rotate{
    --button-rotation: 810deg
}

button{
    rotate: var(--button-rotation)
}

.canvas-rotate{
    --canvas-rotate: 270deg;
    --canvas-width: 500px;
    --canvas-height: 300px
}

canvas{
    rotate: var(--canvas-rotation);
    width: var(--canvas-width);
    height: var(--canvas-height);
    box-shadow: 0 0 6px 0 #999;
}

